.delete-msgs, .delete-users {
  cursor:pointer;
  width:auto;
}

p.logged {
  display:inline-block;
  margin-right:10px;
  margin-bottom:20px;
}

.btn {
  padding:5px;
  @extend .shadow-main;
  transition:opacity .5s ease;
  color:$white;
  border-radius:4px;
  text-align:center;
  display:inline-block;
  &:hover {
    opacity:.7;
  }
}

a.btn {
  background-color:$color-main;
  color:$white;
}

.bot .btn-submit {
  width:100%;
  padding:10px;
}

.user-input {
  input {
    width:100%;
  }
}


input.logged-user {
  color:$color-main;
  font-weight:500;
  font-size:16px;
  box-shadow:none;
}
