.loggedin {
  color:$color-accent;
}

.loggedout {
  color:$color-red;
}

i.fa-star {
  color:$color-yellow;
}
.loggedout i.fa-user {
  color:lighten($color-red,25%);
}

.loggedin i.fa.user {
  color:$color-accent;
}

.user.me {
  color:$color-main;
}
